<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>chattingSidebar</title>
    <link rel="stylesheet" href="/css/chat/chattingSidebar.css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/common/miniProfile.css">
    <script src="/js/common/miniProfile.js"></script>
</head>
<body>

	<div class="channel-list bg-light d-flex flex-column" style="width: 320px;">
	    <nav>
	    	<h4 class="channel"><img src="/image/Dropdown.png">&nbsp음성 채널</h4>
	    	<div class="voiceChat" th:each="c : ${channel}" th:if='${c.channelSeparator eq "V"}' th:onclick="|location.href='/chat/main/' + ${serverNo} + '/' + ${c.channelNo}|">
	    		<input class="chatInput" type="hidden" th:value="${c.channelNo}">
	    		<ul>
		    		<li>
		    			<b><img src="/image/Voice.png">&nbsp[[${c.channelName}]]</b>
		    			<ul>
		    			</ul>
		    		</li>
	    		</ul>
	    	</div>
	
	    	<h4 class="channel"><img src="/image/Dropdown.png">&nbsp채팅 채널</h4>
		    <div class="textChat">
				<li th:each="c : ${channel}" th:if="${c.channelSeparator == 'T'}" onclick="goToChat(event);"><a th:href="@{'/chat/main/'+${serverNo}+'/'+${c.channelNo}}"><img src="/image/chat.png">&nbsp[[${c.channelName}]]</a></li>
			</div>

    	</nav>


    	<div class="profile">
    		<img id="profileImg" th:src="${session.loginMember.imageUrl != null ? session.loginMember.imageUrl : '/image/profile.png'}" width="50px" height="50px">
			<b id="profileName" th:text="${member.memberNickname}"></b>
    		<img id="micImg" src="/image/preferences/mic.png" width="30px">
    		<img src="/image/preferences/Headphones.png" width="30px">
    		<img src="/image/preferences/Preferences.png" width="30px" onclick="location.href='/prefs/myProfile'">
    	</div>
	</div>



	<!-- 프로필 모달 -->
	<div id="profileModal" class="modal">
	    <div class="modal-content">
	        <span class="close" onclick="closeProfileModal()">&times;</span>
	        <h2>프로필 설정</h2>
	        <button onclick="goToMyAccount()">내 정보 수정</button>
	    </div>
		
	<div th:replace="~{/common/miniProfile :: body}"></div>
	
	<script th:inline="javascript">
		
		/*<![CDATA[*/
		const username = /*[[${member.memberNickname}]]*/null;
		const userid = /*[[${member.memberId}]]*/null;
		const serverNo = /*[[${serverNo}]]*/0;
		const channelNo = /*[[${channelNo}]]*/0;
		/*]]*/
		// 최초에 채널에 입장해 있는 사람들 목록 보이게 하기
		window.addEventListener('load', ()=>{
			fetch("/chat/api/voiceUsers")
			.then(response=>response.json())
			.then(data => {
				updateUserList(data);
			})
		})

		// 음성 채팅방 드롭다운
		let voiceChannels = null;
		let voiceChannel = null;
		let clickChannel = null;
		let clickServerNo = 0;
		const myNickname = document.querySelectorAll('.profile')[0].querySelector('b').innerText;

// 		const channelSocket = new SockJS("https://192.168.40.6:9090/stomp/channel");
		const channelSocket = new SockJS("https://192.168.140.22:9090/stomp/channel");
		const channelStompClient = Stomp.over(channelSocket);

		channelStompClient.connect({}, ()=>{

			// 보이스 채널 사용자 목록 구독
			channelStompClient.subscribe("/sub/voice", (message)=>{
				updateUserList(JSON.parse(message.body));
			});
		});


		// 보이스 채널 입장 함수
		const joinVoiceChannel=(username, clickServerNo)=>{
			channelStompClient.send("/pub/chat/joinVoice", {}, JSON.stringify({ username, clickServerNo }));
		}

		// 보이스 채널 퇴장 함수
		const leaveVoiceChannel=(username)=>{
			console.log('나갑니다 : ' + username);
			channelStompClient.send("/pub/chat/leaveVoice", {}, username);
		}
		
		window.addEventListener('beforeunload', e=>{
			leaveVoiceChannel(username);
		})

		// 사용자 목록 업데이트
		const updateUserList=(users)=> {
// 			if(users[clickServerNo])
			const channelNos = document.querySelectorAll('.chatInput');
// 			console.log(channelNos);
			const keys = Object.keys(users);
// 			console.log(keys);

			// 채널 번호 비교
			for(const channelNo of channelNos){
				console.log(channelNo.value);
				for(const key of keys){
					if(channelNo.value == key){
// 						console.log(channelNo.parentElement);
						channelNo.parentElement.querySelector('ul>li>ul').innerHTML = '';
						for(const user of users[channelNo.value]){
							channelNo.parentElement.querySelector('ul>li>ul').innerHTML += '<li><img src="/image/profile.png">&nbsp' + user + '</li>';
						}
					}
				}
			}
		}

		document.querySelectorAll('.channel')[0].addEventListener('click', ()=>{
			voiceChannels = document.querySelectorAll('.voiceChat');
			for(voiceChannel of voiceChannels){
// 				console.log(voiceChannel);
				const chatRoom = voiceChannel.querySelector('li');
// 				console.log(chatRoom);
				if(chatRoom.style.display == '' || chatRoom.style.display == 'none'){
					chatRoom.style.display = 'block';
// 					people.style.display = 'block';	
				}else{
					chatRoom.style.display = 'none';
// 					people.style.display = 'none';
				}	

				voiceChannel.addEventListener('click', (e)=>{
					clickChannel = e.currentTarget;
					clickServerNo = Number(clickChannel.querySelector('input[type="hidden"]').value);
// 					console.log(typeof clickServerNo);
					joinVoiceChannel(myNickname, clickServerNo);
// 					location.href = '/chat/voiceChat/2';
				})
			}
		})
		
		/*<![CDATA[*/
			const channels = /*[[${channel}]]*/null;
		/*]]*/
		
// 		for(const channel of channels){
// 			if(channel.channelSeparator == 'V'){
				
// 			}
// 		}
		
		
		
		// 채팅 채팅방 드롭다운
		document.querySelectorAll('.channel')[1].addEventListener('click', ()=>{
			const chatRooms = document.querySelectorAll('.textChat')[0].querySelectorAll('li');
			const people = document.querySelector('nav > ul:nth-of-type(2) ul li');
			
			for(const chatRoom of chatRooms){
				if(chatRoom.style.display == '' || chatRoom.style.display == 'none'){
					chatRoom.style.display = 'block';
					people.style.display = 'block';	
				}else{
					chatRoom.style.display = 'none';
					people.style.display = 'none';
				}
			}
		})
		
		// 음성연결 끊기 버튼 클릭 시 가장 상단 채팅채널로 이동
		console.log('---------------------');
		console.log(document.querySelectorAll('.connect')[0].querySelector('img'));
		document.querySelectorAll('.connect')[0].querySelector('img').addEventListener('click', ()=>{
			console.log('나가기 버튼 클릭!');
			console.log(document.querySelectorAll('.profile')[0].querySelector('b').innerText);
			const myNickname = document.querySelectorAll('.profile')[0].querySelector('b').innerText;
			leaveVoiceChannel(myNickname);
			$.ajax({
            	url: "/chat/selectSmallestChatNo",
            	method: 'post',
            	data: {serverNo:serverNo},
            	success: data=>{
            		console.log(data);
            		if(data != 0){
            			location.href='/chat/main/' + serverNo + "/" + data;
            		}
            	}
            })
		})
		
	
        $(document).ready(function() {
		    $("#profileImg, #profileName").on("click", function() {
		        const imageSrc = $("#profileImg").attr("src");
		        const nickname = $("#profileName").text();
		        const userId = /*[[${member.memberId}]]*/ 'unknown';
		
		        openMiniProfile(imageSrc, nickname, userId, true);
		    });
		});
    </script>

</body>
</html>
