<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>chattingSidebar</title>
    <link rel="stylesheet" href="/css/chat/chattingSidebar.css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>

	<div class="channel-list bg-light d-flex flex-column" style="width: 320px;">
	    <nav>
	    	<h4 class="channel"><img src="/image/Dropdown.png">&nbsp음성 채널</h4>
	    	<div class="voiceChat" th:each="c : ${channel}" th:if='${c.channelSeparator eq "V"}'>
	    		<ul>
		    		<li>
		    			<a href="#"><img src="/image/Voice.png">&nbsp[[${c.channelName}]]</a>
		    			<ul></ul>
		    		</li>
	    		</ul>
	    	</div>
	
	    	<h4 class="channel"><img src="/image/Dropdown.png">&nbsp채팅 채널</h4>
		    <div class="textChat">
				<li th:each="c : ${channel}" th:if="${c.channelSeparator == 'T'}" onclick="goToChat(event);"><a th:href="@{'/chat/main/'+${serverNo}+'/'+${c.channelNo}}"><img src="/image/chat.png">&nbsp[[${c.channelName}]]</a></li>
			</div>
		    <ul>
		    <li></li>
		    </ul>

    	</nav>

    	
    	<div class="profile">
    		<img src="/image/profile.png" width="50px" onclick="ProfileModal()">
    		<b th:text="${member.memberNickname}" onclick="goToMyAccount()"></b>
    		<img id="micImg" src="/image/preferences/mic.png" width="30px">
    		<img src="/image/preferences/Headphones.png" width="30px">
    		<img src="/image/preferences/Preferences.png" width="30px" onclick="goToMyAccount()">
    	</div>


	</div>




	<!-- 프로필 모달 -->
	<div id="profileModal" class="modal">
	    <div class="modal-content">
	        <span class="close" onclick="closeProfileModal()">&times;</span>
	
	        <!-- 프로필 이미지 -->
	        <div class="profile-modal-header">
	            <img src="/image/no-profile.svg" width="80px">
	        </div>
	
	        <h2>프로필 설정</h2>
	
	        <label for="statusSelect">상태 변경</label>
	        <select id="statusSelect">
	            <option value="online">🟢 온라인</option>
	            <option value="away">🟡 자리비움</option>
	            <option value="offline">⚫ 오프라인</option>
	        </select>
	
	        <button onclick="goToMyAccount()">내 정보 수정</button>
	    </div>
	</div>
		
	
	<script>
		// 음성 채팅방 드롭다운
		document.querySelectorAll('.channel')[0].addEventListener('click', ()=>{

			const myNickname = document.querySelectorAll('.profile')[0].querySelector('b').innerText;
			const voiceChannels = document.querySelectorAll('.voiceChat');
			for(const voiceChannel of voiceChannels){
// 				console.log(voiceChannel);
				const chatRoom = voiceChannel.querySelector('li');
// 				console.log(chatRoom);
				if(chatRoom.style.display == '' || chatRoom.style.display == 'none'){
					chatRoom.style.display = 'block';
// 					people.style.display = 'block';	
				}else{
					chatRoom.style.display = 'none';
// 					people.style.display = 'none';
				}	
				
				
				
				voiceChannel.addEventListener('click', ()=>{
					
					
// 					$.ajax({
// 						url: '/chat/updateChannelUser',
// 						success: data=>{
// 							const lis = voiceChannel.querySelectorAll('ul>li>ul li');
// 							console.log(lis);
// 							if(lis.length == 0){
// 								voiceChannel.querySelector('ul>li>ul').innerHTML += '<li><img src="/image/profile.png">&nbsp' + myNickname + '</li>';
// 							}
// 							for(const li of lis){
// // 								console.log(li);
// 								if(li == null){
// 									voiceChannel.querySelector('ul>li>ul').innerHTML += '<li><img src="/image/profile.png">&nbsp' + myNickname + '</li>';
// 								}else{
// 									if(li.innerText.trim() == myNickname){
// 										console.log(voiceChannel.querySelector('ul>li>ul>li').innerText);
// 									}else{
// // 										console.log(li.innerText.trim());
// // 										console.log(myNickname);
// 										voiceChannel.querySelector('ul>li>ul').innerHTML += '<li><img src="/image/profile.png">&nbsp' + myNickname + '</li>';
// 									}
// 								}
// 							}
									
// 						}
// 					})
				})

			}
		})
		
		/*<![CDATA[*/
			const channels = /*[[${channel}]]*/null;
		/*]]*/
		
// 		for(const channel of channels){
// 			if(channel.channelSeparator == 'V'){
				
// 			}
// 		}
		
		const channelSocket = new SockJS("https://192.168.40.6:9090/stomp/channel");
		const channelStompClient = Stomp.over(socket);
		
		channelStompClient.connect({}, ()=>{
			console.log('channelSocket 연결 성공');
			
			// 보이스 채널 사용자 목록 구독
			channelStompClient.subscribe("/topic/voice", (message)=>{
				updateUserList(JSON.pase(message.body));
			});
		});
		
		// 보이스 채널 입장 함수
		const joinVoiceChannel=(username)=>{
		    stompClient.send("/chat/joinVoice", {}, username);
		}

		// 보이스 채널 퇴장 함수
		const leaveVoiceChannel=(username)=>{
		    stompClient.send("/chat/leaveVoice", {}, username);
		}

		// 사용자 목록 업데이트
		const updateUserList=(users)=> {
		    const userList = document.getElementById("voice-users");
		    userList.innerHTML = "";
		    users.forEach(user => {
		        let li = document.createElement("li");
		        li.textContent = user;
		        userList.appendChild(li);
		    });
		}
		
		// 채팅 채팅방 드롭다운
		document.querySelectorAll('.channel')[1].addEventListener('click', ()=>{

			const chatRooms = document.querySelectorAll('.textChat')[0].querySelectorAll('li');
			const people = document.querySelector('nav > ul:nth-of-type(2) ul li');
			
			for(const chatRoom of chatRooms){
				if(chatRoom.style.display == '' || chatRoom.style.display == 'none'){
					chatRoom.style.display = 'block';
					people.style.display = 'block';	
				}else{
					chatRoom.style.display = 'none';
					people.style.display = 'none';
				}

			}
			
			
		})
		
		// 해당 채팅 채널 클릭시 해당 채널로 이동
		const goToChat=(e)=>{
			
		}
		
		// 프로필 사진, 닉네임, 톱니바퀴 클릭시 내계정 페이지로 이동
// 		const goToMyAccount=()=>{
// 			location.href = '/prefs/myProfile';
// 		}
	</script>
	
	 <script>
        // 프로필 모달 열기
        function ProfileModal() {
            document.getElementById("profileModal").style.display = "block";
        }

        // 프로필 모달 닫기
        function closeProfileModal() {
            document.getElementById("profileModal").style.display = "none";
        }

        // 내 정보 페이지로 이동
        function goToMyAccount() {
            location.href = '/prefs/myProfile';
        }

    </script>

</body>
</html>