<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>chatting</title>
    <link rel="stylesheet" href="/css/chat/chatting.css" />
</head>
<body>
<!--     <div th:replace="~{/common/chattingSidebar.html :: chattingSidebar}"></div> -->

	<div th:insert="common/top.html"></div>
	
	<div class="sidebarDiv">
		<div th:insert="common/sidebar.html"></div>
		
	    <div th:insert="common/chattingSidebar.html"></div>
	    
	    <div class="chattingPage">
	    	<div class="chatContent">
	    	
	    	</div>
	    	<div class="inputChat">
	    		<textarea></textarea>
	    		<button>입력</button>
	    	</div>
	    </div>
	</div>
	
	
	
</body>
</html>