<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body th:fragment="memberList">
    <div id="memberList-container">
      <div th:if="${admin}" class="button-div">
        <button class="manage-modal-button">
          <img src="/image/member/team-member.svg"/>
          회원 관리
        </button>
      </div>
      <div class="ul-div">
        <ul class="memberList-ul">
          <li class="memberList-li" th:each="m : ${memberList}">
            <input type="hidden" th:value="${m.memberNo}" />
            <img
              th:src="${m.imageUrl != null ? m.imageUrl : '/image/member/no-profile.svg'}"
              width="30px"
              height="30px"
            />
            <label
              class="nickname"
              th:style="${m.memberNo == session.loginMember.memberNo? 'color: rgb(140, 140, 220)':'color:inherit'}"
            >
              [[${m.memberNickname}]]
            </label>
            <label class="memberId" style="display: none;">[[${m.memberId}]]</label>
          </li>
        </ul>
      </div>
      <input name="loginMemberNo" type="hidden" th:value="${session.loginMember.memberNo}"/>
    </div>

    <!-- 모달 -->
    <div class="modal-container">
      <!-- 초대 모달 -->
      <div class="manage-modal">
        <div class="manage-modal-top">
          <h1>회원 초대</h1>
          <h1>회원 추방</h1>
          <button class="cancle-button">x</button>
        </div>
        <div class="modal-ul-div">
          <ul class="modal-ul"></ul>
        </div>
      </div>
    </div>
  </body>
</html>
