<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>directMassage</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="/css/directMassage.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="directMassage" th:fragment="directMassage">
        <div class="dm">다이렉트 메시지</div>
        <button class="creatDm">+</button>

    <table class="dmTable">
        <tr>
            <th>프로필 사진</th>
            <th>닉네임</th>
        </tr>

        <tbody id="dmList">

        </tbody>
    </table>


    </div>

<script>
    const dmList = () => {
        $.ajax({
            url: '/dmList',
            method: 'GET',
            dataType: 'json',
            success: (data) => {
                const tbody = $('#dmList');


                if (data.length === 0) {
                    tbody.append('<tr><td colspan="2">받은 메시지가 없습니다.</td></tr>');
                    return;
                }

                data.forEach(dm => {
                    const row = `
                            <tr>
                                <td><img src="${dm.profileImg}" alt="프로필" width="40"></td>
                                <td>${dm.nickname}</td>
                            </tr>
                        `;
                    tbody.append(row);
                });
            },
            error: (eooro) => {
                console.error('DM 리스트 가져오기 실패:', error);
            }
        });
    };

    // 페이지 로드 시 DM 리스트 가져오기
    $(document).ready(dmList);

</script>
</body>
</html>