<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .friendSidebar{
        width: 360px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="friendSidebar">
        <div class="friendSidebar" th:fragment="friendSidebar">
          <table>
              <tr>
                  <td>온라인</td>
                  <td>몇명있는지 카운트</td>
                  인원리스트
              </tr>
              <tr>
                  <td>오프라인</td>
                  <td>몇명있는지 카운트</td>
                  인원리스트
              </tr>
          </table>


        </div>
    </div>
</body>
</html>