<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>friendSidebar</title>
</head>
<body>
    <div class="friend">
        <div class="friendSidebar" th:fragment="friendSidebar">
          <table class="friendTable" th:each="f:${friend}">
              <tr id="on">
                  <td>온라인</td>
                  <td>카운트</td>
                  <td th:checked="${f.friendOn=='O'}"></td>
              </tr>
              <tr id="off">
                  <td>오프라인</td>
                  <td>카운트</td>
                  <td th:checked="${f.friendOn=='F'}"></td>
              </tr>
          </table>

            <div>
                <h3>친구 목록</h3>
                <div th:each="f: ${friend}" class="friends">
                    <div class="profile" th:text="${f.profile}"></div>
                    <div class="nickname" th:text="${f.nickname}"></div>
                    <div class="friendButtons">
                        <button class="dmButton">DM</button>
                        <button class="settingsButton">⚙</button>
                    </div>
                </div>
            </div>




        </div>
    </div>
</body>
</html>