<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sidebar</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="/css/sidebar.css" rel="stylesheet" type="text/css">

</head>
<body>
  <div class="sidebar">
      <div class="mainLogo" onclick="location.href='#';">
         <img src="/image/RealManLogo.png">
      </div>
      
      <table class="serverList">
            <tr>
                <td width="20px" height="20px" >[[${server.serverNo}]]</td>
            </tr>
         </table>

<!--       <th:block th:each = "s : ${Server}"> -->
<!--          <table class="serverList"> -->
<!--             <tr> -->
<!--                 <td width="20px" height="20px" th:${s.serverNo}></td> -->
<!--             </tr> -->
<!--          </table> -->
<!--       </th:block> -->


      <div class="addServer">+</div>











  </div>


<script>
    function loadServer() {
//         $.ajax({
//             url: "",
//             method: "GET",
//             success: function (data) {
//                 let serverList = $("#serverList");

//                 data.forEach(server => {
//                     // 같은 ID의 채널이 이미 있으면 추가하지 않음 find는 없으면 0 있으면 1이상이므로 length를사용.
//                     if (!serverList.find(`div[serverNo="${server.serverNo}"]`).length) {
//                         let serverDiv = $("<div>")
//                             .attr("serverNo", server.serverNo) // 채널 ID 저장
//                             .text(server.serverName);

//                         serverList.append(serverDiv);
//                     }
//                 });
//             },
//             error: function () {
//                 console.error("채널 목록을 불러오는데 실패했습니다.");
//             }
//         });
    }

    $(function () {
        loadServer();
    });

</script>

</body>
</html>