<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/preferences/myProfile.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
	<div class="main">
		<div th:insert="preferences/preferencesSidebar.html"></div>
		<div class="profile-main">
			<div class="profile-top">
				<div class="profile-container">
						<h1>내 계정</h1>
				</div>
				<img alt="Xcircle" src="/image/preferences/Xcircle.png" width="50px" height="50px" onclick="location.href='/chat/main'">
			</div>
			
			<img class="myProfile" alt="myProfile" src="/image/preferences/myprofile.png">
			<div class="circle"></div>
			<img class="profilePicture" alt="profilePicture" src="/image/RealManLogo.png">
			<div class="profileInfo">
				<b>별명</b>
				<h2>이주형</h2>
				<b>이메일</b>
				<h2>******@naver.com</h2>
				<b>전화번호</b>
				<h2>*******8846</h2>
			</div>
			<div class="profileInfo-2">
				<button id="nickNameBtn">수정</button><br>
				<button id="emailBtn">수정</button><br>
				<button id="phoneBtn">수정</button>
			</div>
			
			<div class="changePassword">
				<h2>비밀번호</h2>
				<button>비밀번호 변경하기</button>
			</div>
			<div class="deleteAccount">
				<h2>계정 제거</h2>
				<button id="deactivateBtn">계정 비활성화</button>
				<button id="deleteBtn">계정 삭제하기</button>
			</div>
		</div>
	</div>
	
	<div class="modal" id="nickNameModal">
		<div class="modal-content"></div>
			<form>
				<b>별명 변경하기</b>
				<p>새 별명과 기존 비밀번호를 입력하세요.</p>
				<b>별명</b>
				<input type="text" name="memberNickname">
				<b>현재 비밀번호</b>
				<input type="password" name="memberPwd">
			</form>
		</div>
	</div>
	
	<script>
		onload=()=>{
			document.querySelector("#nickNameBtn").addEventListener('click', ()=>{
// 				$('#nickNameModal').modal("show");
				$('#nickNameModal').modal("show");
			})
		}
	</script>
	
</body>
</html>