<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/preferences/preferencesSidebar.css" />
</head>
<body>
	<div class="sidebar">
		<input type="text" placeholder="Search">
    	<nav>
    		<ul>
    			<li><a href="/prefs/myProfile"><img alt="account" src="/image/preferences/myAccount.png">&nbsp;&nbsp;내 계정</a></li>
    			<li><a href="/prefs/uiTheme"><img alt="account" src="/image/preferences/UI.png">&nbsp;&nbsp;UI 및 테마</a></li>
    			<li><a href="/prefs/notifications"><img alt="account" src="/image/preferences/alarm.png">&nbsp;&nbsp;알림</a></li>
    			<li><a href="/prefs/messages"><img alt="account" src="/image/preferences/chat.png">&nbsp;&nbsp;채팅 및 메시지</a></li>
    			<li><a href="/prefs/audio"><img alt="account" src="/image/preferences/voice.png">&nbsp;&nbsp;음성</a></li>
    			<li><a href="/prefs/video"><img alt="account" src="/image/preferences/vidio.png">&nbsp;&nbsp;비디오</a></li>
    		</ul>
    	</nav>
    </div>
</body>
</html>