@charset "UTF-8";

.main {
  display: flex;
}

.profile-main {
  width: 100%;
}

.profile-container {
  margin: 0 auto auto 3rem;
  width: 60rem;
  border-bottom-color: #557da5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.profile-container h1 {
  margin-bottom: 10px;
}

.profile-top {
  display: flex;
  width: 100%;
}

.profile-top img {
  margin-right: 30rem;
  margin-top: 1rem;
  cursor: pointer;
}

.myProfile {
  margin-left: 3rem;
  margin-top: 2rem;
  width: 45rem;
  position: absolute;
  z-index: 1;
}

.circle {
  border-radius: 100px;
  width: 75px;
  height: 75px;
  position: absolute;
  z-index: 2;
  background-color: #e5ecf3;
  margin-left: 5.8rem;
  margin-top: 4.6rem;
}

.profilePicture {
  position: absolute;
  width: 60px;
  z-index: 2;
  margin-left: 6.3rem;
  margin-top: 5rem;
  cursor: pointer;
}

.profileInfo {
  position: absolute;
  z-index: 2;
  margin-left: 6.3rem;
  margin-top: 12rem;
}

.profileInfo-2 {
  position: absolute;
  z-index: 2;
  margin-left: 40rem;
  margin-top: 13rem;
}

.profileInfo-2 button {
  width: 60px;
  height: 40px;
  font-size: 15px;
  margin-bottom: 30px;
  background-color: #557da5;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

h2 {
  margin: 0 0 20px 0;
}

.changePassword {
  margin-left: 3rem;
  margin-top: 33rem;
}

.changePassword h2 {
  margin-bottom: 10px;
}

.changePassword button {
  background-color: #7184ff;
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.deleteAccount {
  margin-left: 3rem;
  margin-top: 3rem;
}

.deleteAccount h2 {
  margin-bottom: 10px;
}

#deactivateBtn {
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

#deleteBtn {
  margin-left: 10px;
  background-color: transparent;
  border: solid 2px;
  border-color: #ff0000;
  border-radius: 5px;
  width: 180px;
  height: 30px;
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 999; /* 화면 위로 올림 */
  justify-content: center;
  align-items: center;
}

/* 모달창 */
.modal-content {
  background-color: #a7b3bf;
  padding: 10px 30px;
  border-radius: 5px;
  /*     text-align: center; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  color: white;
}

.modal-content input {
  background-color: #557da5;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

#clickP {
  color: #008cff;
  cursor: pointer;
}

.modal-btn {
  text-align: right;
}

.cancle-button,
#cancelDeleteBtn {
  background-color: transparent;
  border: none;
  color: white;
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

#backBtn {
  background-color: transparent;
  border: none;
  color: white;
  width: 100px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.completeBtn {
  background-color: #7184ff;
  border: none;
  color: white;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

#sendBtn {
  background-color: #7184ff;
  border: none;
  color: white;
  width: 120px;
  height: 30px;
  cursor: pointer;
}

#nextBtn {
  background-color: #7184ff;
  border: none;
  color: white;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

#deleteBtn2 {
  background-color: #7184ff;
  border: none;
  color: white;
  width: 130px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.modalTitle {
  text-align: center;
  margin-top: 0;
}

.modalTitle b {
  font-size: 20px;
}

.modalTitle p {
  font-size: 13px;
}

.input-container {
  position: relative;
  display: flex;
}

.input-container input {
  width: 100%;
  border-radius: 5px;
  height: 40px;
}

#sendPhoneBtn {
  background-color: #7184ff;
  position: absolute;
  top: 10px;
  bottom: 5px;
  right: 5px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-container2 {
  display: flex;
  gap: 20px;
}

.input-container2 input {
  text-align: center;
  height: 50px;
  font-size: 30px;
  color: white;
}

#deleteP {
  background-color: #f2c340;
  color: white;
  text-align: left;
  padding: 5px;
}

.email-span {
  color: #6b46cf;
}
