/bin/
/src/main/resources/application.properties 
/.gradle/
/.metadata/
/.settings/
/.classpath
/.project
/build
/.vscode
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
