# 그래들
/bin/
/build/
/.gradle/

#os별
.DS_Store
Thumbs.db

#설정
/src/main/resources/application.properties 
/src/main/resources/keystore.jks

#IDE
/.metadata/
/.settings/
/.classpath
/.project
/.vscode
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
src/main/resources/keystore.jks
src/main/resources/realmanfirestore-firebase-adminsdk-fbsvc-42ed42e9d5.json
