<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>main</title>
    <script>
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    </script>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/member/friends.css" />
    <link href="/css/directMassage.css" rel="stylesheet" type="text/css"/>
    <style>
    	.top-bar {
        	height: 40px;
        	background-color: #e4edf3;
      	}
    </style>
  </head>
  <body>
  <div class="topbar_wrap" th:replace="~{/common/top :: body}"></div>
  <div class="main-container">
        <div class="sidebar_wrap">
          <div th:replace="~{../common/sidebar.html}"></div>
          <div th:replace="~{/main/directMassage.html :: directMassage}"></div>
        </div>

        <!-- 친구 목록 -->
        <div th:replace="~{../member/friends.html::friends}"></div>
  </div>

    <script src="/js/member/friends.js"></script>
  </body>
</html>
