<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>main</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/member/friends.css" />
  </head>
  <body>
    <div class="container">
      <div class="topbar_wrap" th:insert="../common/top.html"></div>
      <div class="square">
        <div class="sidebar_wrap">
          <div th:insert="~{../common/sidebar.html}"></div>
          <div th:insert="~{/main/directMassage.html :: directMassage}"></div>
        </div>

        <!-- 친구 목록 -->
        <div th:insert="~{../member/friends.html::friends}"></div>
      </div>
    </div>

    <script src="/js/member/friends.js"></script>
  </body>
</html>
