<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>main</title>
    <script>
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    </script>
    <link rel="stylesheet" href="/css/theme.css">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/member/friends.css" />
    <link href="/css/directMassage.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/common/userProfile.css">
    <style>
    	.top-bar {
        	height: 40px;
        	background-color: var(--theme-bg);
      	}
    </style>
  </head>
  <body th:class="'theme-' + ${session.theme.themeColor} + ' font-' + ${session.theme.fontType} + ' text-size-' + ${session.theme.fontSize.toLowerCase()}">
  <div class="topbar_wrap" th:replace="~{/common/top :: body}"></div>

  <div class="main-container">
        <div class="sidebar_wrap">
          <div th:replace="~{../common/sidebar.html}"></div>
          <!DOCTYPE html>
          <html xmlns:th="http://www.thymeleaf.org">
          <head>
            <meta charset="UTF-8">
            <title>directMassage</title>
            <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
            <link href="/css/directMassage.css" rel="stylesheet" type="text/css"/>
          </head>
          <body>
          <div class="directMassage" th:replace="~{/main/directMassage :: body}">

            <div class="dm">다이렉트 메시지</div>
            <button class="createDM" onclick="sendDM()">+</button>
            <div id="dmWrapper"></div>

          </div>
          </table>



          <script th:inline="javascript">
            // const memberList = /*[[${memberList}]]*/ null;
            // const flist = /*[[${flist}]]*/ null;

            function sendDM(){

            }



          </script>
          </body>
          </html>
        </div>

        <!-- 친구 목록 -->
        <div th:replace="~{../member/friends.html::friends}"></div>
  </div>
  
  	<div th:replace="~{/common/userProfile :: userProfile}"></div>

	<script src="/js/common/userProfile.js"></script>	
    <script src="/js/member/friends.js"></script>
  </body>
</html>
