<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>sendDM</title>
</head>
<body>
    <div class="profile">
      <img>
      <b>닉네임</b>
    </div>

    <div class="send" th:each="d : ${DM}" >
        <img>
        <b th:text="${d.memberNickname}">닉네임</b>
        <b th:utext="${d.message}"></b>
    </div>

    <div class="p-3 d-flex">
        <textarea class="flex-grow-1" id="mytextarea"></textarea>
        <button id="button-send">입력</button>
    </div>








</body>
</html>