<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org..DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.chat.model.mapper.ChatMapper">

    <select id="chattingSidebar">
        select *
        from channel
        where server_no = #{no} and channel_status = 'Y'
    </select>

	<select id="selectChannel">
		select *
		from channel
		where channel_no = #{channelNo} and channel_status='Y'
	</select>

    <select id="selectDm">
        select *
        from DM
        join member using(member_no)
        where member_no = #{memberNo}
    </select>

    <select id="selectDmList">
        select *
        from DM
        where member_no = #{memberNo}

    </select>

</mapper>