<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org.DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.preferences.model.mapper.PrefsMapper">
    <select id="checkDevice" resultType="com.example.demo.preferences.model.vo.Device">
        SELECT *
        FROM DEVICES
        WHERE MEMBER_NO = #{memberNo}
          AND DEVICE_ID = #{deviceId}
    </select>


    <insert id="insertDevice" parameterType="com.example.demo.preferences.model.vo.Device">
        INSERT INTO DEVICES (MEMBER_NO, DEVICE_ID)
        VALUES (#{memberNo}, #{deviceId})
    </insert>

    <update id="updateAudio" parameterType="com.example.demo.preferences.model.vo.Device">
        UPDATE DEVICES
        SET
            AUDIO_INPUT = #{audioInput},
            AUDIO_OUTPUT = #{audioOutput},
            INPUT_VALUE = #{inputValue},
            OUTPUT_VALUE = #{outputValue},
            INPUT_TYPE = #{inputType}
        WHERE MEMBER_NO = #{memberNo}
          AND DEVICE_ID = #{deviceId}
    </update>

    <update id="updateVideo" parameterType="com.example.demo.preferences.model.vo.Device">
        UPDATE DEVICES
        SET
            VIDEO = #{video}
        WHERE MEMBER_NO = #{memberNo}
          AND DEVICE_ID = #{deviceId}
    </update>

    <update id="updateNotify" parameterType="com.example.demo.preferences.model.vo.Notification">
        UPDATE NOTIFICATION
        SET
            NOTIFY_STATUS = #{notifyStatus},
            NOTIFY_SCOPE = #{notifyScope}
        WHERE MEMBER_NO = #{memberNo}
    </update>

    <select id="getNotifyPrefs" resultType="com.example.demo.preferences.model.vo.Notification">
        SELECT * FROM NOTIFICATION
        WHERE MEMBER_NO = #{memberNo}
    </select>

    <insert id="insertNotify" parameterType="int">
        INSERT INTO NOTIFICATION (MEMBER_NO) VALUES (#{memberNo})
    </insert>

    <insert id="insertTheme" parameterType="int">
        INSERT INTO THEME (MEMBER_NO) VALUES (#{memberNo})
    </insert>

    <update id="updateMsg" parameterType="com.example.demo.preferences.model.vo.Notification">
        UPDATE NOTIFICATION
        SET
            CHAT_TYPE = #{chatType},
            TIME_TYPE = #{timeType}
        WHERE MEMBER_NO = #{memberNo}
    </update>

    <select id="getThemePrefs" resultType="com.example.demo.preferences.model.vo.Theme">
        SELECT *
        FROM theme
        WHERE member_no = #{memberNo}
    </select>

    <update id="updateTheme" parameterType="com.example.demo.preferences.model.vo.Theme">
        UPDATE theme
        SET theme_color = #{themeColor},
            font_type = #{fontType},
            font_size = #{fontSize}
        WHERE member_no = #{memberNo}
    </update>
</mapper>