<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org..DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.server.model.mapper.ServerMapper">
    <select id="serverList">
        select *
        from server
        join server_member using(server_no)
        where member_no = #{memberNo}
    </select>

    <select id="selectServerList">
        select *
        from server
        	join server_member using(server_no)
        where server_status = 'Y' and member_no = #{memberNo}
    </select>

    <select id="loadServerList" resultType="hashmap">
        SELECT s.*, i.img_rename
        FROM server s
                 JOIN server_member sm ON s.server_no = sm.server_no
                 LEFT JOIN image i
                           ON s.server_no = i.mcd_no
                               AND i.img_separator = 'C'
        WHERE s.server_status = 'Y'
          AND sm.member_no = #{memberNo}
    </select>

    <select id="selectChannelNo">
    	select channel_no
    	from channel
    	where server_no = #{serverNo} and channel_separator = 'T' and channel_status = 'Y'
    </select>
    
    <select id="selectMemberNumbers">
    	select member_no
    	from server_member
    	where server_no = #{serverNo}
    </select>
    
    <select id="selectInviteList">
    	select
    </select>
    
	<select id="checkIsAdmin">
		select is_admin
		from server_member
		where server_no = #{serverNo} and member_no = #{memberNo}
	</select>
	
    <insert id="inviteMember">
    	insert into server_member
    	values (#{memberNo}, #{serverNo}, default)
    </insert>
    
    <delete id="ejectMember">
    	delete from server_member
    	where member_no = #{memberNo}
    		and server_no = #{serverNo}
    </delete>

    <insert id="insertServer">
        INSERT INTO server (server_no, server_name, server_status, server_createdate)
        VALUES (server_seq.nextval, #{serverName}, 'Y', SYSDATE)
    </insert>

    <select id="selectCreateServerNo" resultType="int">
        SELECT MAX(server_no) FROM server
    </select>

    <insert id="insertServerMember">
        INSERT INTO server_member (member_no, server_no, is_admin)
        VALUES (#{memberNo}, #{serverNo}, 'Y')
    </insert>

    <insert id="insertDefaultTextChannel" parameterType="com.example.demo.chat.model.vo.Channel">
    	<selectKey keyProperty="channelNo" resultType="_int" order="BEFORE"> 
    		select channel_seq.nextval from dual
    	</selectKey>
        INSERT INTO CHANNEL
        VALUES (#{channelNo}, #{serverNo}, '일반', SYSDATE, 'T', 'Y')
    </insert>
    
    <insert id="insertDefaultVoiceChannel">
        INSERT INTO CHANNEL
        VALUES (channel_seq.nextval, #{serverNo}, '음성', SYSDATE, 'V', 'Y')
    </insert>
	<insert id="insertChannel">
		<selectKey resultType="_int" keyProperty="channelNo" order="BEFORE">
			select channel_seq.nextval from dual
		</selectKey>
		insert into channel
		values (#{channelNo}, #{serverNo}, #{channelName}, SYSDATE, #{channelSeparator}, 'Y')
	</insert>
	<update id="editChannel">
		update channel
		set channel_name = #{newName}
		where channel_no = #{channelNo}
	</update>
	<delete id="deleteChannel">
		delete from channel
		where channel_no = #{channelNo}
	</delete>

    <select id="selectServerName" resultType="String" parameterType="int">
        select server_name
        from server
        where server_no = #{serverNo}
    </select>
</mapper>