<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>친구 목록</title>
  <link rel="stylesheet" href="/css/member/friends.css" />
</head>

<body>
  <div>
    <ul>
      <li th:each="f:${list}">
        <div class="friend-row">
          <form>
            <input type="hidden" th:value="${f.memberNo}">
          </form>
          <div class="profile-div">
            <div class="svg-container">
              <img class="profile" src="/image/no-profile.svg" />
            </div>
          </div>
          <div class="nickname-div">
            <label class="nickname">[[${f.MemberNickname}]]</label>
            <label class="id">[[${f.memberId}]]</label>
          </div>
          <div class="other-div">
            <div class="dm-div">
              <div class="svg-container">
                <img class="dm-svg qq" src="/image/message.svg" />
              </div>
            </div>
            <div class="etc-div">
              <div class="svg-container">
                <img class="etc-svg qq" src="/image/more.svg" />
              </div>
              <div class="etc-menu">
                <div class="qq">친구 삭제</div>
                <div class="qq">회원 차단</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <script src="/js/member/friends.js"></script>
</body>

</html>