<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div id="friend-container" th:fragment="friends">
      <div id="filter-search-bar">
        <div id="filter-div">
          <button class="selected">모두</button>
          <button>대기중</button>
          <button>친구 요청</button>
          <button>친구 추가</button>
        </div>
        <div id="search-div">
          <input type="text" />
          <button id="search-button">검색</button>
          <button id="search-refresh">전체보기</button>
        </div>
      </div>
      <div>
        <ul id="friend-list" class="ul-show"></ul>
        <ul id="wait-list"></ul>
        <ul id="request-list"></ul>
        <ul id="search-list"></ul>
      </div>
    </div>
  </body>
</html>
