<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div id="friend-container" th:fragment="friends">
      <div id="filter-search-bar">
        <div id="filter-div">
          <button class="selected">모두</button>
          <button>대기중</button>
          <button>친구 요청</button>
          <button>친구 추가</button>
        </div>
        <div id="search-div">
          <input type="text" />
          <button id="search-button">검색</button>
          <button id="search-refresh">전체보기</button>
        </div>
      </div>
      <div>
        <ul id="friend-list" class="ul-show"></ul>
        <ul id="wait-list"></ul>
        <ul id="request-list"></ul>
        <ul id="search-list">
          <li>
            <div class="friend-row slist">
              <input type="hidden" />
              <div class="profile-div">
                <div class="svg-container">
                  <img class="profile" src="/image/friend/no-profile.svg" />
                </div>
              </div>
              <div class="nickname-div">
                <label class="nickname"></label>
                <label class="id"></label>
              </div>
              <div class="other-div">
                <div class="dm-div">
                  <div class="svg-container">
                    <img
                      class="icon add-friend-svg qq"
                      src="/image/friend/add-friend.svg"
                    />
                  </div>
                </div>
                <div class="etc-div">
                  <div class="svg-container">
                    <img class="icon etc-svg qq" src="/image/friend/more.svg" />
                  </div>
                  <div class="etc-menu">
                    <div class="qq">회원 차단</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
