@charset "UTF-8";

.sidebar {
	width: 360px;
	background-color: #f2f6f9;
	position: fixed;
	left: 0;
	top: 64px;
	height: calc(100vh - 64px);
	padding: 2rem 0; 
	overflow-y: auto;
	z-index: 5;
}

.sidebar nav ul {
	list-style: none;
	padding: 0;
	margin-left: 5px;
	font-size: 25px;
}

.sidebar nav ul li {
	list-style: none;
	padding: 10px;
	margin: 1rem;
	font-size: 20px;
	background-color: #bdd3e2;
	border-radius: 10px;
}

.sidebar nav ul ul li{
	list-style: none;
	padding: 0;
	margin-left: 30px;
	font-size: 20px;
	background-color: transparent;
	border-radius: 10px;
}

.sidebar nav ul li {
	display: none;
}

.channel {
	cursor: pointer;
}