.sidebar{
    width: 80px;
    background-color: #E4EDF3;
    padding: 40px 10px 10px;
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 0;*/
}
.mainLogo{
    width:60px;
    height:60px;
    margin: 10px;
    cursor: pointer;
    align-items: center;


}

.mb-2 div {
	cursor: pointer;
}


.mainLogo img {
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;
}

div[serverNo] {
    width: 60px;
    height: 60px;
    background-color: #CED6DE;
    margin: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

div[serverNo] img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 div 크기에 맞게 조정 */
}

.addServer{
    width: 60px;
    height: 60px;
    background-color: #BDD3E2;
    cursor: pointer;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 10px;
}

/* 모달 오버레이 */
.add-modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 9998;
    display: none;
}

/* 모달 본체 */
.add-modal {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    z-index: 9999;
    display: none;
}

.add-modal .close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.add-modalbtn{
    background: #699fff;
}
.add-modalbtn:hover{
    background: #2c58a2;
}