@charset "UTF-8";
body, html{

}
*{
    margin: 0;
    padding: 0;
}
.top-bar {
    background-color: var(--theme-bg);
    height: 40px;
}



.topbar-text {
    font-family: 'Bungee Shade', cursive !important;
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}


.void-area{
	font-family: 'Bungee Shade', cursive;
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}







