@charset "UTF-8";

html, body {
	height: calc(100vh - 97px);
}

.chatSidebar {
	width: 360px;
	background-color: #f2f6f9;
	height: 100vh;
	padding: 2rem 0;
	overflow-y: auto;
}

.chatSidebar nav ul {
	list-style: none;
	padding: 0;
	margin-left: 5px;
	font-size: 25px;
}

.chatSidebar nav ul li {
	list-style: none;
	padding: 10px;
	margin: 1rem;
	font-size: 20px;
	background-color: #bdd3e2;
	border-radius: 10px;
}

.chatSidebar nav ul ul li{
	list-style: none;
	padding: 0;
	margin-left: 30px;
	font-size: 20px;
	background-color: transparent;
	border-radius: 10px;
}

.chatSidebar nav ul li {
	display: none;
}

.channel {
	cursor: pointer;
}

.voiceList, .chatList {
	display: none !important; /* 처음에는 숨김 */
}