@charset "UTF-8";

html, body {
	height: calc(100vh - 97px);
}

.chatSidebar {
	width: 360px;
	background-color: #f2f6f9;
	height: 90vh;
	padding: 2rem 0;
	box-sizing: border-box;
	overflow-y: auto;
}

.chatSidebar nav ul {
	list-style: none;
	padding: 0;
	margin-left: 5px;
	font-size: 25px;
}

.chatSidebar nav ul li {
	list-style: none;
	padding: 10px;
	margin: 1rem;
	font-size: 20px;
	background-color: #bdd3e2;
	border-radius: 10px;
}

.chatSidebar nav ul ul li{
	list-style: none;
	padding: 0;
	margin-left: 30px;
	font-size: 20px;
	background-color: transparent;
	border-radius: 10px;
}

.chatSidebar nav ul li {
	display: none;
}

.channel {
	cursor: pointer;
}

.voiceList, .chatList {
	display: none;  /* 기본적으로 숨김 */
	padding: 0;
}

.voiceList table, .chatList table {
	table-layout: auto;
	width: 100%;
}

.voiceList td, .chatList td {
	padding: 8px;
	width: auto;
}

td {
	width: auto;
}

.voiceList td img, .chatList td img {
	width: 20px;
	height: 20px;
}

.voiceList th, .chatList th {
	text-align: left;
}

.chatList a {
	text-decoration: none;
	color: inherit; /* 링크 색상 상속 */
}

.chatList table {
	border-spacing: 0;
	width: 100%;
}

.chatList td {
	text-align: center;
}

.chatSidebar nav ul li.channel:hover + .voiceList,
.chatSidebar nav ul li.channel:hover + .chatList {
	display: block;
}

.profile {
	display: flex;
  	align-items: center; /* 수직 중앙 정렬 */
  	gap: 5px;
  	position: absolute;
  	width: 350px;
  	bottom: 0px; 
}

.profile b{
	font-size: 20px;
	cursor: pointer;
}

.profile img {
	cursor: pointer;
}

#micImg {
	margin-left: auto;
}