@charset "UTF-8";
.all{
	display: flex;
	height: 100vh;
}
.chatSidebarDiv {
	display: flex;
	width: 100%;
	/*height: 20px; *//* 높이 20px 설정 */
	top: 20px; /* 위쪽 20px 띄움 */
	left: 160px; /* 80px짜리 사이드바와 80px 떨어지게 위치 설정 */
}

.chatSidebarDiv {
	flex: 1 0 auto;
}

.chattingPage {
	width: 100%;
}

.chatContent {
	height: 53.5rem;
	background-color: white;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	position: relative;
	overflow-y: auto; 
}

.inputChat {
	width: 100%;
	height: 2rem;
	display: flex;
}

.inputChat textarea {
	width: 100%;
	resize: none;
}

.inputChat button {
	width: 5%;
}

.textArea {
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: 50px;
	z-index: 1;
	width: 100%;
}

