/* body, html{ */
/* 	height: 100vh; */
/* } */
#memberList-container {
  width: 15%;
  min-width: 14rem;
  height: calc(100vh - 40px);
  background-color: var(--theme-sub);
}

.ul-div {
  height: 90%;
  background-color: var(--theme-sub);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(198, 217, 248) rgba(248, 228, 253, 0.397);
}

li {
  list-style-type: none;
}

.memberList-li {
  display: flex;
  position: relative;
  margin-top: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 0.2rem;
  width: 90%;
  align-items: center;
  transition: all 0.1s;
}

.memberList-li:hover {
  background-color: rgb(240, 240, 240);
}

.memberList-li img {
  border-radius: 100px;
}

.nickname {
  cursor: pointer;
}

.button-div {
  background-color: var(--theme-sub);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 3rem;
}

.manage-modal-button {
  width: 80%;
  margin-left: 1rem;
  height: 2rem;
  border: 0;
  border-radius: 1rem;
  background-color: var(--theme-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: all 0.1s;
}

.manage-modal-button>img{
  width: auto;
  height: 90%;
  margin-right: 1rem;
}

.manage-modal-button:hover {
  background-color: var(--theme-point);
  color: var(--theme-text);
  transition: all 0.1s;
}

.manage-modal-button:active {
  background-color: var(--theme-sub);
  color: inherit;
}

.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.295);
}

.manage-modal{
  width: 20%;
  min-width: 30rem;
  height: 70%;
  background-color: aliceblue;
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  position: relative;
}

.manage-modal-top{
  width: 100%;
  height: 5rem;
  position:relative;
  display: flex;
  justify-content: center;
  gap: 2rem;
  
}

.manage-modal-top> h1 {
  display: inline;
  margin-top: 1rem;
  margin-bottom: 0;
  position: relative;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.3rem;
  cursor: pointer;
}

.manage-modal-top>h1:first-of-type{
  background-color: rgb(160, 186, 234);
}

.manage-modal-top>h1:last-of-type{
  background-color: rgb(75, 57, 115);
}

.modal-ul-div {
  width: 95%;
  height: 80%;
  background-color: rgb(253, 253, 253);
  border: 0.3rem solid;
  border-color: rgb(160, 186, 234);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
}

.modal-ul-div-eject{
  border-color: rgb(75, 57, 115);
}

.modal-button-div {
  display: flex;
}

.cancle-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(253, 76, 76);
  color: white;
  border: 0;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2rem;
}

.modal-ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.li-friends {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
}

.li-members{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
}

.li-friends:hover {
  background-color: rgb(245, 245, 245);
}

.li-friends-dark {
  background-color: rgba(196, 196, 241, 0.4);
}
.li-friends-dark:hover {
  background-color: rgba(178, 178, 231, 0.4);
}

.li-members:hover{
  background-color: rgb(245, 245, 245);
}

.li-friends > label {
  padding-left: 1rem;
}

.li-friends > span {
  padding-left: 0.5rem;
}

.profile-div {
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-div > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.li-friends > .invite-button {
  position: absolute;
  right: 1.5rem;
  border: 0;
  border-radius: 0.3rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-members > .eject-button{
  position: absolute;
  right: 1.5rem;
  border: 0;
  border-radius: 0.3rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 205, 205);
}

.li-members > .eject-button:hover{
  background-color: rgb(247, 175, 175);
}
