* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    min-width: 500px;
    height: 100%;
}

.message-bubble {
    background-color: #b8c1ff;
    padding: 30px;
    border-radius: 50% 71% 50% 53%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 430px;
    height: 330px;
    transform: translate(-20%, -130%);
    text-shadow: 3px 3px 2px #49494980;
}

.message-text {
    color: black;
    font-size: 200%;
    font-weight: bold;
}

.character {
    position: relative;
    height:60%;
    min-height: 600px;
    transform: translate(40%, -5%);
    z-index: 1;
}

#findMyIdCharacter1{
    height: 100%;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.info-form {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    margin-top: 60px;
    width: 100%;
    height: 800px;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input-form{
    margin-top: 220px;
}

.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form-group input {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    background-color: #f5f5f5;
    margin-top: 0.5rem;
    box-shadow: inset 0px 0px 10px rgb(212, 211, 211);
}
.form-group input:focus{
    background-color: #e4e7fc;
}

.find-btn {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    background-color: #f5f5f5;
    margin-top: 1rem;
    cursor: pointer;
}
.find-btn:hover {
    background-color: #b8c1ff;
}
.find-btn:active{
    background-color: #8a93d3;
}

.send-btn{
    position: absolute;
    float: right;
    right: 8px;
    top: 14px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: rgb(240, 240, 240);
    border: none;
    box-shadow: 0px 0px 8px rgb(54, 54, 54);
}
.send-btn:hover{
    background-color: #e6e6e6;
}
.send-btn:active{
    background-color: #dadada;
}
.send-btn-disabled{
    background: rgb(200,200,200);
}
.send-btn-disabled:hover{
    background: rgb(200,200,200);
    cursor: wait;
}
.send-btn-disabled:active{
    background: rgb(200,200,200);
}
.footer-links {
    text-align: center;
    margin-top: 2rem;
}

.footer-links a {
    color:#646efa;
    text-decoration: none;
    margin: 0 0.5rem;
}

.verification-msg{
    position: absolute;
    display: none;
    top: 63px;
    left: 65px;
    font-size: 80%;
    letter-spacing: 2px;
}
.msg-yes{
    color: rgb(18, 167, 25);
    display: block;
}
.msg-no{
    color: rgb(255, 3, 45);
    display: block;
}
