.friend-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  background-color: rgb(189, 219, 209);
  margin-bottom: 0.5rem;
}
.friend-row:hover{
  background-color: rgb(182, 212, 202);
}

.profile-div {
  width: 4rem;
  padding-left: 0.5rem;
}

.other-div {
  width: 8rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.dm-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
}

.etc-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  position: relative;
}

.svg-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dm-svg,
.etc-svg,
.profile {
  width: 100%;
  height: 100%;
}

.dm-svg:hover,
.etc-svg:hover,
.profile:hover{
  cursor: pointer;
}
.nickname-div {
  display: flex;
  align-items: center;
  min-width: 18rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.nickname {
  letter-spacing: 15%;
}

.id {
  max-height: 0;
  padding-left: 1rem;
  letter-spacing: 15%;
  font-size: 0.8rem;
  color: rgb(68, 68, 68);
  overflow: hidden;
  transition: all 0.3s ease;
}

.id-show {
  max-height: 100px;
  transition: all 0.3s ease;
}

.etc-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  left: 1.5rem;
  top: 1rem;
  width: 7rem;
  background-color: beige;
  font-size: 0.8rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 0;
}
.etc-menu>div{
  display: flex;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.etc-menu>div:hover{
  background-color: rgb(218, 218, 181);
}
.etc-menu>div:active{
  background-color: rgb(168, 168, 134);
}

.menu-show {
  max-height: 100px;
  transition: all 0.5s ease;
}